{% extends 'base2.html.twig' %}

{% block title %}Edit BestelRegel{% endblock %}

{% block body %}
<h1>BestelRegel bewerken</h1>
<hr>
{{ include('bestel_regel/_form.html.twig', {'button_label': 'Update'}) }}
<br>
<a class="btn btn-primary" href="{{ path('bestel_regel_index') }}">Terug</a>
<br>
{{ include('bestel_regel/_delete_form.html.twig') }}
{% endblock %}
