{% extends 'base2.html.twig' %}

{% block title %}New Reservering{% endblock %}

{% block body %}
<h1>Reservering toevoegen</h1>
<hr>
{{ include('reservering/_form.html.twig') }}
<br>
<a href="{{ path('reservering_index') }}" class="btn btn-primary">Terug</a>
{% endblock %}
