{% extends 'base2.html.twig' %}

{% block title %}New Bestelling{% endblock %}

{% block body %}
<h1>Bestelling toevoegen</h1>
<hr>
{{ include('bestelling/_form.html.twig') }}
<br>
<a href="{{ path('bestelling_index') }}" class="btn btn-primary">Terug</a>
{% endblock %}
